import('UniProt.ws')
import('rentrez')
import('KEGGREST')
import('XML')
import('httr')
import('pkgfilecache')
import("utils")

export('getNCBIGene2NCBIProtein')
export('getNCBIProtein2NCBIGene')
export('getNCBIProtein2NCBINucleotide')
export('getNCBINucleotide2NCBIProtein')
export('getNCBIGene2NCBINucleotide')
export('getNCBINucleotide2NCBIGene')
export('getNCBIIdenticalProteins')
export('getNCBIProtein2UniProt')
export('getNCBIGene2UniProt')
export('getNCBINucleotide2UniProt')
export('getUniProtSimilarGenes')
export('getUniProt2KEGG')
export('getNCBIProtein2KEGG')
export('getNCBINucleotide2KEGG')
export('getNCBIGene2KEGG')
export('getUniProt2NCBIProtein')
export('getUniProt2NCBINucleotide')
export('getUniProt2NCBIGene')
export('getKEGG2UniProt')
export('getKEGG2NCBIProtein')
export('getKEGG2NCBINucleotide')
export('getKEGG2NCBIGene')
export('getCARD2NCBIProtein')
export('getCARD2NCBINucleotide')
export('getCARD2NCBIGene')
export('getCARD2UniProt')
export('getCARD2KEGG')
export('getNCBIProtein2CARD')
export('getNCBINucleotide2CARD')
export('getNCBIGene2CARD')
export('getUniProt2CARD')
export('getKEGG2CARD')
