import('UniProt.ws')
import('rentrez')
import('KEGGREST')
import('XML')
import('RUnit')

export('getNCBIGene2NCBIProtein')
export('getNCBIProtein2NCBIGene')
export('getNCBIProtein2NCBINucleotide')
export('getNCBINucleotide2NCBIProtein')
export('getNCBIGene2NCBINucleotide')
export('getNCBINucleotide2NCBIGene')
export('getNCBIIdenticalProteins')
export('getNCBIProtein2UniProt')
export('getNCBIGene2UniProt')
export('getNCBINucleotide2UniProt')
